@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


/* Hide scrollbar for modern browsers */
.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* Highlight unread bookings */
.bg-yellow-50 {
  background-color: #fffae6;
  transition: background-color 0.3s;
}

/* Remove highlight on hover */
tr:hover.bg-yellow-50 {
  background-color: white;
}
